
<p>Hello, name!</p>
<p>Choose an answer for each of the questions and submit
the test once done. Good Luck!</p>

<!-- <div class="questions">
  <form #form='ngForm' (submit)="games(question)">
    <div *ngFor="let question of game.questions">
      <hr>
      <p>{{question.text}}</p>
      <input [(ngModel)]= "result1" required type="radio" name="response" value="{{question.answer}}">{{ question.answer }}<br>
      <input  [(ngModel)]= "result2" type="radio" name="response" value="{{question.fake1}}">{{ question.fake1 }}<br>
      <input  [(ngModel)]= "result3" type="radio" name="response" value="{{question.fake2}}">{{ question.fake2 }}<br>
      <hr>
    </div>
    <input [disabled]="!form.valid" type="submit" name="submit" value="Submit">
    <button type="button" name="button">Cancel</button>
  </form>
</div> -->

<div class="questions">
  <form #form='ngForm' (submit)="games()">
    <section *ngFor="let question of game.questions">
        <hr>
        <p>{{question.text}}</p>
        <input [(ngModel)]= "result1" required type="radio" name="response" value="{{question.answer}}">{{ question.answer }}<br>
        <input  [(ngModel)]= "result2" type="radio" name="response" value="{{question.fake1}}">{{ question.fake1 }}<br>
        <input  [(ngModel)]= "result3" type="radio" name="response" value="{{question.fake2}}">{{ question.fake2 }}<br>
        <hr>
      </section>
      <input [disabled]="!form.valid" type="submit" name="submit" value="Submit">
      <button type="button" name="button">Cancel</button>
  </form>
</div>
